<sidebar class="col-md-2 col-sm-2 pad-1  z-index10 font-ubuntu" id="menu" style="height:90%;position: fixed;top: 40px; left:0;background-color:#3f3f3f">
<div style="height:90%" class="scrollbar">
  
  <div class="b-s2 pad-1 b-r5 text-center bg-gray">
  <form action="{{=config.base_url+settings.app+'/'+data['control']}}/Salir" method="post" class="d-inline-block"> 
   <input type="submit" value="Salir" class="btn bg-blue white">
  </form>   
   <div class="height-8 b-s1 b-r5 d-inline-block">
    <img src="{{=data['base_url']}}../admin/static/archivos/Avatares/{{print data['opciones']['archivos'][1][1][data['user']['avatar']]}}" class="height-8" >
   </div>
  
  <h4>{{print data['user']["usuario"]}}</h4>
  {{print data['user']["email"]}}
  
  {{for menu in data["adminMenu"]:}}
  
  </div>
  <div>
  {{if menu[1]!=None:}}
  <b><a class="d-block pad-1 b-s1 text-left menu white" href="#" style="background-color:#2a292f;border-color:transparent;border-bottom-color:#353535;text-decoration: none">
  {{else:}}
  <b><a class="d-block pad-1 b-s1 text-left white menu" href="#"  style="background-color:#2a292f;border-color:transparent;border-bottom-color:#353535;text-decoration: none">
  {{pass}}

  <span >
  <img src="{{=config.base_url}}static/imgs/iconos/{{print menu[4]}}" class="height-2"> 
  {{print menu[0]}}
  
  </span>
  </a></b>
   {{if menu[3]!=None:}}
   <ul class="no-list-style pad-l2 bg-gray sub hidden">
    {{for sub in menu[3]:}}
    
    {{if sub[1][0]!=None:}}

    {{if type(normalizar(decode(str(sub[1][1]['valor']))))==str:}}
      {{url=urlBuilder(config,settings.app,"admin","",decode(str(sub[1][1]['valor'])),action=sub[1][0])}}
    {{elif type(normalizar(decode(str(sub[1][1]['valor']))))==dict:}}
    
      {{url=urlBuilder(config,settings.app,"admin","",action=sub[1][0],kwargs=decode(str(sub[1][1]['valor'])))}}
    
    {{elif type(normalizar(decode(str(sub[1][1]['valor']))))==list:}}
    
    {{url=urlBuilder(config,settings.app,"admin","",args=normalizar(decode(str(sub[1][1]['valor']))),action=sub[1][0])}}

    {{pass}}
    
    
    <li class="pad-b1"><a href="{{=url}}">


    
    {{if type(sub[1][1]['valor'])==dict:}}
     {{data["actionNew"][sub[1][1]['valor'].keys()[0]]=config.base_url+data['actionbase']+'&action='+sub[1][0]+'&args='+decode(str(sub[1][1]['valor']) ) if sub[1][1]['valor'][sub[1][1]['valor'].keys()[0]]==None else None}}
    {{pass}}
    {{elif type(sub[1][1]['valor'])==list:}}
    {{url=urlBuilder(config,settings.app,'admin','',args=normalizar(decode(str(sub[1][1]['valor']) ) ))}}

      <li class="pad-b1"><a href="{{=url}}">

    {{else:}}
    {{url=urlBuilder(config,settings.app,'admin','')}}
    <li class="pad-b1"><a href="{{=url}}">
    
    {{pass}}
    {{if type(sub[1][1]['valor'])==dict:}}
     {{data["actionNew"][sub[1][1]['valor'].keys()[0]]=config.base_url+data['actionbase']  if sub[1][1]['valor'][sub[1][1]['valor'].keys()[0]]==None else None}}
    {{pass}}
    {{print sub[0]}} </a></li>
    {{pass}}
   </ul>
   {{pass}}
  {{pass}}   
  </div>
  
  
</div>
 </sidebar>

