#about{
	padding-top:50px;
	padding-bottom:50px;
}



.about-title{
	color:#fff;
	text-transform:uppercase;
	font-size:4em;
	font-family:$raleway;
	font-weight:500;
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%, -50%);
}