header{
	position:relative;
}


.owl-dots{
	display:none;
}
a.icon-circle-down{
	position:absolute;
	bottom:80px;
	left:50%;
	transform:translateX(-50%);
	z-index:1000;
	font-size:3em;
	box-sizing:border-box;
	color:#000;
}