.flor_purple{
	color:#cdb2ff !important;
}
.bg-flor_purple{
	background-color:#cdb2ff !important;
}
.flor_purpledark{
	color:#a27ee5 !important;
}
.bg-flor_purpledark{
	background-color:#a27ee5 !important;
}
.red{
	color:#f71f37 !important;
}